//
// Variables
//

$bg-color: #eee;

$link-color: #05aa73;
$link-hover-color: darken($link-color, 10%);

$table-border-color: #000;

$heading-color: yellow;
$shadow-bottom-color: red;
$shadow-top-color: green;
$shadow-accent-color: blue;

$font-family: Courier;

$font-size-title: 4em;
$font-size-headings: 1.5em;
$font-size-text: 1em;

$screen-phones: "only screen and (max-width : 320px)";

//
// Reset
//

* {
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

//
// Default elements
//

html,
body {
  background: #eee url('noise.png') 0 0 repeat;
  font-size: $font-size-text;
}

hr {
  border: 5px solid #ddd;
  height: 0;
  margin: 100px 0;
}

h2 {
  font-size: $font-size-headings;
  font-weight: bold;
  margin: 20px 0;
}

p {
  font-size: $font-size-text;
  line-height: 24px;
  margin: 20px 0;
}

textarea {
  line-height: 24px;
}

a {
  &:link,
  &:visited,
  &:active {
    color: $link-color;
  }

  &:hover {
    color: $link-hover-color;
  }
}

//
// Page decoration
//

.top-border {
  border-bottom: 1px solid transparent;
}

.bar {
  float: left;
  height: 5px;

  &.bar-1 {
    background-color: $shadow-bottom-color;
    width: 25%;
  }

  &.bar-2 {
    background-color: $shadow-top-color;
    width: 25%;
  }

  &.bar-3 {
    background-color: $heading-color;
    width: 25%;
  }

  &.bar-4 {
    background-color: $shadow-accent-color;
    width: 25%;
  }
}

//
// Github repo link
//

.octocat-wrapper {
  text-align: right;
}

.octocat {
  height: 40px;
  margin: 20px;
  opacity: .5;
  transition: all .4s ease;
  width: 40px;

  &:hover {
    opacity: 1;
  }
}

//
// Page header banner
//

.page-head {
  margin: 120px 0;
  text-align: center;
}

//
// Page title
//

.page-title {
  color: $heading-color;
  display: inline-block;
  font-size: $font-size-title;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  text-shadow:
     1px  2px 0 $shadow-bottom-color,
    -1px -2px 0 $shadow-top-color,
    -1px  1px 0 $shadow-accent-color,
     1px -1px 0 $shadow-accent-color;
  text-transform: uppercase;
  word-spacing: -15px;

  a {
    color: inherit;
    font-size: inherit;
    position: relative;
    text-decoration: none;
    z-index: 2;

    &:hover,
    &:active,
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }

  .highlight {
    background-color: #accdf6;
    bottom: 0;
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
  }

  #woman {
    left: -140px;
    position: absolute;
    top: -100px;
  }
}

//
// Content
//

.content {
  margin: 0 auto;
  max-width: 600px;
}

.description {
  background-color: #ddd;
  margin: 100px 0;
  padding: 30px;

  .title {
    margin: 0 0 20px;
  }

  #paperboy {
    float: right;
    height: 200px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

//
// Form
//

textarea {
  background-color: #ddd;
  border: none;
  box-sizing: border-box;
  font-size: $font-size-text;
  margin: 0 0 20px;
  outline: none;
  padding: 20px;
  resize: none;
  width: 100%;
}

button[type="submit"] {
  display: block;
  font-size: $font-size-text;
  margin: 0 auto;
  padding: 6px 12px;
  width: 230px;
}

//
// Output
//

.output {

  h3 {
    font-size: 1em;
    margin: 20px 0;
  }

  table {
    border-spacing: none;
    border-collapse: collapse;
    margin: 20px 0;
    padding: 0;
    width: 100%;

    tr th,
    tr td {
      border-bottom: 1px solid $table-border-color;
      border-left: 1px solid $table-border-color;
      border-right: 1px solid $table-border-color;
      padding: 10px;
      text-align: left;
      vertical-align: middle;
      width: 50%;
    }

    tr:first-child th,
    tr:first-child td {
      border-top: 1px solid $table-border-color;
    }

    tr th {
      background-color: rgba(0, 255, 255, .2);
      font-weight: normal;
    }

    tr td {
      background-color: rgba(255, 255, 0, .2);
      text-align: right;
    }
  }
}

//
// Media queries
//

@media only screen and (max-width: 320px) {
  .content {
    width: 100%;
  }

  .page-head {
    margin: 150px 0;
  }

  .page-title {
    display: inline-block;
    font-size: 3em;

    #woman {
      left: 110px;
      top: -160px;
    }

    .highlight {
      display: none;
    }
  }

  form {
    padding: 0 10px;
  }

  .description {
    margin: 100px 10px;
    padding: 30px 20px;
    text-align: center;

    h2 {
      font-size: 1.3em;
      text-transform: uppercase;
    }

    p {
      font-size: 1em;
    }

    #paperboy {
      float: none;
      width: 50%;
    }
  }

  .output {

    table {
      font-size: .8em;

      tr th {
        width: 70%;
      }

      tr td {
        width: 30%;
      }
    }
  }
}

//
// Attribution
//

.attribution {
  line-height: 2em;
  margin: 0 0 50px;
  text-align: center;

  &__text {
    color: #888;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__author {
    color: #accdf6 !important;
    display: block;


    &:hover,
    &:active,
    &:visited {
      color: #5689c8 !important;
    }
  }
}

//
// Footer Github and Twitter buttons
//

.social-buttons {
  margin: 0 0 100px;
  text-align: center;
}

