$bg-color: #eee;

body {
  background-color: $bg-color;
  font-family: lato;
  font-size: 14px;
}

section,
article {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

a {
  &:link,
  &:visited,
  &:active {
    color: #05aa73;
  }

  &:hover {
    color: darken(#05aa73, 10%);
  }
}

.page-head {
  margin: 40px auto 80px auto;
}

.page-title {
  font-weight: bold;
  margin: 40px 0;
  transform: rotate(-5deg);

  &__title {
    color: yellow;
    display: block;
    margin: 0 10px;
    font-family: Bangers;
    font-size: 60px;
    letter-spacing: 2px;
    text-shadow: 1px 2px 0 red;
    text-shadow: 1px 2px 0 red, -1px -2px 0 green, -1px 1px 0 blue;
  }

  &__part {
    display: block;
    font-family: Playball;
    font-size: 28px;
  }
}


.text-input {
  background-color: darken($bg-color, 10%);
  border: none;
  box-sizing: border-box;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  resize: none;
  width: 100%;
}

.wrap{
}

.output {
  margin: 20px auto;
  padding: 20px 0 30px;

  &__title {
    color: #ecec6e;
    font-family: Bangers;
    font-size: 32px;
    letter-spacing: 2px;
    margin: 0 0 20px;
    text-shadow: 1px 2px 0 red, -1px -2px 0 green;
  }

  .overflow {
    max-height: 191px;
    overflow: auto;
  }

  &__table {
    border-spacing: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;

    tr th,
    tr td {
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      padding: 10px;
      text-align: left;
      width: 60%;
    }

    tr:first-child th,
    tr:first-child td {
      border-top: 1px solid #000;
    }

    tr th {
      background-color: rgba(0, 255, 255, .2);
    }

    tr td {
      background-color: rgba(255, 255, 0, .2);
      text-align: right;
      width: 40%;
    }
  }
}

.page-footer {
  margin: 100px 0 30px;
  text-align: center;
  width: 100%;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 20px;
  }
}

.description {
  font-weight: 16px;
  text-align: left;
}

.github-buttons {
  padding: 20px;
  text-align: right;
}
